<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <p>
        Hey <span th:text="${name}"></span>,<br/><br/>
        We are glad that you shop with Ellison Electronics!
        <br/><br/>
        Your order has been placed successfully and under process to be shipped.
        <br/><h6>Please Note that this is a demo projet Email and you have not made any real transaction with us till now!</h6>
        <br/>
        Here is Your Transaction Details:<br/>
        <br/>
        <font style="color:red;font-weight:bold;">Order Id:</font>
        <font style="color:green;font-weight:bold;" th:text="${transactionId}"></font><br/>
        <br/>
        <font style="color:red;font-weight:bold;">Amount Paid:</font> <font style="color:green;font-weight:bold;" th:text="${amount}"></font>
        <br/><br/>
        Thanks for shopping with us!<br/><br/>
        Come Shop Again! <br/><br/> <font style="color:green;font-weight:bold;">Ellison Electronics.</font>
    </p>
</body>
</html>