<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Orders</title>
</head>
<body>
    <h1>My Orders</h1>
    <table>
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Order Date</th>
                <th>Total Amount</th>
                <th>Shipped</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="order : ${orders}">
                <td th:text="${order.id}"></td>
                <td th:text="${order.orderDate}"></td>
                <td th:text="${order.totalAmount}"></td>
                <td th:text="${order.shipped}"></td>
                <td>
                    <table>
                        <thead>
                            <tr>
                                <th>Product Name</th>
                                <th>Quantity</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="item : ${order.orderItems}">
                                <td th:text="${item.product.prodName}"></td>
                                <td th:text="${item.quantity}"></td>
                                <td th:text="${item.priceAtPurchase}"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>