<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Transactions</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/changes.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>

    <div class="container">
        <h1 class="mt-5">My Transactions</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Transaction ID</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Amount</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="transaction : ${transactions}">
                    <td th:text="${transaction.transid}"></td>
                    <td th:text="${transaction.time}"></td>
                    <td th:text="${transaction.status}"></td>
                    <td th:text="${#numbers.formatDecimal(transaction.amount, 0, 2)}"></td>
                    <td>
                        <a th:href="@{/orders/{transactionId}(transactionId=${transaction.transid})}" class="btn btn-sm btn-info">View Details</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>