<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Payment Error</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/changes.css">
</head>
<body>

    <div th:replace="~{fragments/header :: header}"></div>

    <div class="container">
        <h1 class="mt-5" style="color: red;">Payment Processing Error</h1>
        <p>There was an error processing your payment. Please try again later or contact support.</p>
        <a href="/cart" class="btn btn-primary">Return to Cart</a>
        <a href="/orders" class="btn btn-info">View My Orders</a>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>