.product-card-custom {
    background-color: white !important; /* White background */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */ /* Distribute space vertically */
    margin-bottom: 20px; /* Add vertical gap between products */
}

.product-card-custom .card-body {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */ /* Distribute space vertically within card body */
    height: 100%; /* Ensure card body takes full height */
    /* align-items: center; /* Vertically align items */
    text-align: center; 
}

/* .product-card-custom .card-text {
    text-align: center;
} */

.product-card-custom .product-actions {
    display: flex;
    justify-content: space-between; /* Align buttons and price horizontally */
    align-items: center; /* Vertically align items */
    width: 100%; /* Ensure it takes full width */
    padding: 0 15px; /* Add some horizontal padding to move elements away from border */
}

.product-price {
    margin-left: 10px; /* Add margin to separate price from buttons */
}

.text-center {
    text-align: center;
}