
.product-card-custom {
    background-color: white; /* White background */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribute space vertically */
}

.product-card-custom .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribute space vertically within card body */
    height: 100%; /* Ensure card body takes full height */
}

.product-card-custom .d-flex {
    display: flex;
    justify-content: space-between; /* Align buttons and price horizontally */
    align-items: center; /* Vertically align items */
    width: 100%; /* Ensure it takes full width */
}