apiVersion: v1
kind: ServiceAccount
metadata:
  name: gke-sa
  namespace: default
  annotations:
    iam.gke.io/gcp-service-account: <YOUR-GCP-PROJECT-ID>@<YOUR-GCP-PROJECT-ID>.iam.gserviceaccount.com
